html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background: rgb(32, 32, 56);

}

.background{
    background-image: url(../assesets/eurasian-pygmy-owl-6881984_1920.jpg), url(../assesets/second-background.jpg);
    background-position: top, bottom;
    box-shadow: 0 0 5em white;
    background-size: cover, 500vh;
    background-repeat:no-repeat;
    height: 100vh;
}

*{
    box-sizing: border-box;
}


.headercont{
    border:none;  
    width: 100%;
    font-size: 15px;

}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


header{
    width: 100%;
    padding: 1.5em;
}


.logo{
    border: 2px solid white;
    color: white;
    font-family: Broadway;
    font-size: 35px;
    max-width: max-content;
}

header nav *{
    text-decoration: none;
}

header nav{
    text-align: right;
    margin: 3px;
 }

#menu li{
    margin: 5px;
}

header li{
    margin: 5px;
    font-size: 13px;
    font-family: Tahoma;
    padding: 3px;
    list-style: none;
    display:inline;

}
header li *{
    color: white;
}
header li:hover *{
    color: black;
}

header li:hover{
    border-radius: 15px;
    box-shadow: 0 0 1.5em white;
    background-color: white;
}

.mainTitle{
    text-align: center;
    color: white;
}



#menu{
    font-size: 12px;
}

.container{
    padding: 2em;
    width: 100%;
}


.contain {
    max-height: max-content;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1.5em;
    width: 100%;
    text-align: center;
    margin-bottom: 15em;
    
}
#text{
    height: max-content;
    font-family: century gothic;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background: rgba(255, 255, 255, 0.2);
    padding: 4px;
    border-radius: 8px;
    max-width: 300px;
    align-self: center;
}

.firstpic{
    background-image: url(../assesets/first-display.jpg);
    background-size:cover;
    background-position: center top;
    background-repeat: no-repeat;
    align-self: center;
    width: 100%;
    max-width: 500px;
    height: 350px;
    box-shadow: 0 0 2em rgb(0, 0, 0);
    border-radius: 15px;
}   



.facts-division{
    margin-top: 3em;
    
}

.facts-division section{
    margin: 0 0 1.5em 0;
    height: 400px;
    display: flex;
    
    justify-content: center;
    gap: 1.5em;
    width: 100%;
    text-align: center;
    
}

.firstfact{
    margin: 3px;
    width: max-content;
    flex-direction: row-reverse;
}

.firstfact-text{
    
    height: max-content;
    font-family: century gothic;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background: rgba(255, 255, 255, 0.2);
    padding: 4px;
    border-radius: 8px;
    max-width: 300px;
    align-self: center;
}

.garlic-picture{
    background: url(../assesets/garlic.jpg);
    background-size:cover;
    background-position: center top;
    background-repeat: no-repeat;
    align-self: center;
    width: 100%;
    max-width: 500px;
    height: 350px;
    box-shadow: 0 0 2em rgb(0, 0, 0);
    border-radius: 15px;
}

.secondfact{
}

.secondfact-text{
    height: max-content;
    font-family: century gothic;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background: rgba(255, 255, 255, 0.2);
    padding: 4px;
    border-radius: 8px;
    max-width: 300px;
    align-self: center;

}

.rondalla-picture{
    background: url(../assesets/rondalla.jpg);
    background-size:cover;
    background-position: center top;
    background-repeat: no-repeat;
    align-self: center;
    width: 100%;
    max-width: 500px;
    height: 350px;
    box-shadow: 0 0 2em rgb(0, 0, 0);
    border-radius: 15px;
}

.thirdfact{
    margin: 3px;
    width: max-content;
    flex-direction: row-reverse;
}

.thirdfact-text{
    height: max-content;
    font-family: century gothic;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background: rgba(255, 255, 255, 0.2);
    padding: 4px;
    border-radius: 8px;
    max-width: 300px;
    align-self: center;
}

.mindanao-picture{
    background: url(../assesets/mindanao.png);
    background-size:cover;
    background-position: center top;
    background-repeat: no-repeat;
    align-self: center;
    width: 100%;
    max-width: 500px;
    height: 350px;
    box-shadow: 0 0 2em rgb(0, 0, 0);
    border-radius: 15px;
}
@media (min-width: 5px) and (max-width: 380px) {
    body{
        background-position: center;
       
    }
    .headercont{
        position: relative;
    }

    header li{
        font-size: 12px;

    }
    #text{
        font-size: 13px;
    }
}

@media(min-width: 381px) and (max-width: 779px){
    body{
        background-size: cover;
    }
    header li{
        font-size: 12px;

    }
    .contain{
        flex-direction: column;
    }
    .headercont{
        position: relative;
    }
    .firstfact, .secondfact, .thirdfact{
        flex-direction: column-reverse;
    }
}


@media screen and (min-width: 770px) {
    #menu{
        font-size: 15px;
    }
    .contain2{
        flex-direction: row;
    }

    .contain2 div{
        max-width: 500px;
    }


}