html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
}

.background{
    background: url(../assesets/Home_Background.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
}

*{
    box-sizing: border-box;
}


.headercont{
    border:none;  
    width: 100%;
    font-size: 15px;

}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


header{
    width: 100%;
    padding: 1.5em;
}


.logo{
    border: 2px solid white;
    color: white;
    font-family: Broadway;
    font-size: 35px;
    max-width: max-content;
}

header nav *{
    text-decoration: none;
}

header nav{
    text-align: right;
    margin: 3px;
 }

#menu li{
    margin: 5px;
}

header li{
    margin: 5px;
    font-size: 13px;
    font-family: Tahoma;
    padding: 3px;
    list-style: none;
    display:inline;

}
header li *{
    color: white;
}
header li:hover *{
    color: black;
}

header li:hover{
    border-radius: 15px;
    box-shadow: 0 0 1.5em white;
    background-color: white;
}

.mainTitle{
    text-align: center;
    color: white;
}



#menu{
    font-size: 12px;
}
.container{
    font-family: comic sans ms;
    font-size: 15px;
    width: 30%;
    margin: 0 auto;
    background-color: aqua;
    padding: 1.5em 5em;
    min-width: 400px;
    margin-bottom: 3em;
    border-radius: 15px;
}
.contain{
    display: grid;
    justify-content: center;
}

.contain input, button, textarea{
    border-radius: 5px;
    border: none;
}

#name:focus{
    outline: 2px solid orchid;
}
#last:focus{
    outline: 2px solid orchid;
}
#email:focus{
    outline: 2px solid orchid;
}

#text:focus{
    outline: 2px solid orangered;
}
.email{
    display: flex;
    flex-direction: column;
}

.contain div{
    margin: 3px;
    
}

.text{
    max-width: 300px;
}

.button{
    align-self: center;
}
.button button{
    padding: 10px;
}

#btn:hover{
    cursor: pointer;
    background-color: rgb(0, 255, 128);
    box-shadow: 0 0 1.5em  black;
}

@media (min-width: 5px) and (max-width: 380px) {
    body{
        background-position: center;
       
    }
    .headercont{
        position: relative;
    }

    header li{
        font-size: 12px;

    }
    #text{
        font-size: 13px;
    }
}

@media(min-width: 381px) and (max-width: 779px){
    body{
        background-size: cover;
    }
    header li{
        font-size: 12px;
        
        
        
    }

    .headercont{
        position: relative;
    }
    footer li{
        display: inline;
    }
}


@media screen and (min-width: 770px) {
    #menu{
        font-size: 15px;
    }

    .contain{
        flex-direction: row-reverse;
    }

    .contain2{
        flex-direction: row;
    }

    .contain2 div{
        max-width: 500px;
    }


}